# Soal UTS

In [1]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

# Jawaban No 1

In [2]:
sorted_companies = sorted([{'name': company['name']} for company in company_detail_list], key=lambda x: x['name'], reverse=True)
output = "[\n"
for company in sorted_companies:
    output += "    {\n"
    output += f"        \"name\": \"{company['name']}\"\n"
    output += "    },\n"
output = output.rstrip(",\n") + "\n]"
print(output)

[
    {
        "name": "Company 3"
    },
    {
        "name": "Company 2"
    },
    {
        "name": "Company 1"
    }
]

# Jawaban No 2

In [3]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

# Jawaban No 3

In [4]:
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}
employees_by_domain = {}
for employee in employee_detail_list:
    domain = company_domain_map[employee['company']]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].append(employee['full_name'])
print("{")
for domain, employees in employees_by_domain.items():
    print(f'    "{domain}": [')
    for name in employees:
        print(f'        "{name}",')
    print("    ],")
print("}")

{
    "Retail": [
        "John Doe",
        "Ying Han Tan",
        "Robert White",
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee",
    ],
    "Healthcare": [
        "Andrew Sebastian",
        "Kenneth Ng",
    ],
}

# Jawaban No 4

In [5]:
def get_employees_with_country():
    company_country_map = {company['name']: company['country'] for company in company_detail_list}
    employee_country_list = []
    for employee in employee_detail_list:
        employee_info = {
            "full_name": employee['full_name'],
            "company": employee['company'],
            "country": company_country_map[employee['company']]
        }
        employee_country_list.append(employee_info)

    return employee_country_list

result = get_employees_with_country()
print("[")
for item in result:
    print("    {")
    print(f'        "full_name": "{item["full_name"]}",')
    print(f'        "company": "{item["company"]}",')
    print(f'        "country": "{item["country"]}"')
    print("    },")
print("]")

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    },
]

# Jawaban No 5

In [6]:
def count_employee_nationalities(company_detail_list, employee_detail_list):
    company_nationalities = {}
    for employee in employee_detail_list:
        company = employee['company']
        nationality = employee['nationality']
        if company not in company_nationalities:
            company_nationalities[company] = {}
        if nationality not in company_nationalities[company]:
            company_nationalities[company][nationality] = 0
        company_nationalities[company][nationality] += 1
    result = []
    for company in company_detail_list:
        company_name = company['name']
        result.append({
            "company": company_name,
            "employee_nationality": company_nationalities.get(company_name, {})
        })

    return result
result = count_employee_nationalities(company_detail_list, employee_detail_list)
print(result)

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]